<head>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>D&C Lang</title>
</head>

<body style="margin: 0">
  <div id="App"></div>
</body>